<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link fs-5 active" href="/">Accueil
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fs-5" href="#">Contact</a>
				</li>
				<li class="nav-item">
						<a class="nav-link fs-5" href="{{ path('recipe.index_public') }}">Recettes de base</a>
					</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link fs-5" href="{{ path('recipe.index') }}">Mes recettes</a>
					</li>
						{% endif %}
{% if app.user %}
					<li class="nav-item">
						<a class="nav-link fs-5" href="{{ path('user.admin') }}">Admin</a>
					</li>
					
			{% endif %}
</li></ul></div></ul></div>{# <form class="d-flex">
									<input class="form-control me-sm-2" type="search" placeholder="Rechercher">
									<button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
								</form> #}<div class="d-flex"><ul class="navbar-nav me-auto">{% if app.user %}<li class="nav-item dropdown" style="margin-right: 5rem;">
<a class="nav-link dropdown-toggle fs-5" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.fullName }}</a>
<div class="dropdown-menu">
	<a class="dropdown-item" href="{{ path('user.edit', {id: app.user.id}) }}">Modifier mes informations</a>
	{# <a class="dropdown-item" href="#">Modifier mon mot de passe</a> #}
	<div class="dropdown-divider"></div>
	<a class="dropdown-item" href="{{ path('security.logout') }}">Déconnextion</a>

{% else %}
	<li class="nav-item">
		<a class="nav-link" href="/connexion">Connexion</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/inscription">Inscription</a>
	</li>
{% endif %}</li></div></li></ul></div></div></nav>


