{% extends 'base.html.twig' %}

{% block title %}
	La recette
	{{ recipe.name }}
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{%endfor %}
		<h1 class="mt-4">{{ recipe.name }}</h1>

		<div class="recipe__image">
			<img style="max-width: 350px;" src="{{ vich_uploader_asset(recipe, 'imageFile') }}">
		</div>


		<p>La moyenne de cette recette est de
			{{ recipe.average|number_format(2,'.', '.') }}
			/ 5</p>

		<p class="mt-3 text-dark">Description:</p>
		{{ recipe.description|raw }}

		<p class="mt-3 text-dark">Temps de préparation (en minutes):
			<span class="badge bg-primary mt-1">{{ recipe.preparationTime }}</span>
		</p>

		{% if recipe.pauseTime %}
			<p class="mt-3 text-dark">Temps de pause (en minutes):
				<span class="badge bg-primary mt-1">
					{{ recipe.pauseTime }}</span>
			</p>
		{% else %}
			<p class="mt-3 text-dark">Temps non renseigné</p>
		{% endif %}

		<p class="mt-3 text-dark">Temps de cuisson (en minutes):
			<span class="badge bg-primary mt-1">
				{{ recipe.cookingTime }}</span>
		</p>

		<p class="mt-3 text-dark">Ingrédients:
		</p>
		{% for ingredient in recipe.ingredients %}
			<span class="badge bg-primary mb-4">{{ ingredient.name }}</span>
		{% endfor %}

		<p class="mt-3 text-dark">Étapes:
		</p>
		{{ recipe.steps|raw }}


		<p class="mt-3 text-dark">Allergènes :
			{% for allergen in recipe.allergens %}
				<span class="badge bg-primary">{{ allergen.name }}</span>
			</p>
		{% endfor %}


		<p class="mt-3 text-dark">Régime :</p>
		{% for diets in recipe.diets %}
			<span class="badge bg-primary mt-1">{{ diets.name }}</span>
		{% endfor %}
		<div class="mark">
			{{ form(form) }}

				<div class="mt-5">
					<h2 class="text-2xl mb-8">Commentaire(s)</h2>
					<div class="comments">
						{% for comment in recipe.comments %}
							<div class="comment flex justify-start mb-4">
								<div>
									<div class="block p-6">
										<div class="md-ml-6">
										<p>{{ comment.author }}</p>
											<p class="text-dark fs-5">
												{{ comment.content|raw }}
											</p>
											
										</div>

									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

	{% endblock %}
