{% extends 'base.html.twig' %}
{% block title %}
	Mes recettes
{% endblock %}
{% block body %}
<div style="height: 50px; z-index: -3; margin-top: -10px;">{% include "partials/_header_img.html.twig" %}</div>
	<div class="container mt-4">
		<h1 class="text-center bg-primary" style="border-radius: 15px; padding: 10px; width: auto;">Mes recettes</h1>
		<div class="d-flex justify-content-center flex-wrap">
			   	{% if app.user.recipes %}
					{% for recipe in app.user.recipes %}
					
						<div class="card border-primary mb-3 me-3" style="width: 20rem;">
					<div class="card-header">Recette numéro
						{{ recipe.id }}</div>
					<div class="card-body">
						<h4 class="card-title">
						{% if recipe.isPublic is same as false %}					
							<a href="{{ path('recipe.show', {id: recipe.id}) }}">{{ recipe.name }}</a>
							{% else %}
							<a href="{{ path('recipe.show_public', {id: recipe.id}) }}">{{ recipe.name }}</a>
								{% endif %}
						</h4>
						<div class="recipe__image card-image">
							<img style="max-width: 350px;" src="{{ vich_uploader_asset(recipe, 'imageFile') }}">
						</div>
						{# <p class="card-text">{{ recipe.description|slice(0, 100) ~ '...'  }}</p> #}
							<p class="card-text">{{ recipe.description|raw }}</p>
					</div>
				</div>
				{% endfor %}
				{% endif %}
		</div>
		<div class="text-center mb-4"><button class="btn btn-primary" type="button"><a class="mt-4 fs-4 text-light" href="/">Accueil</a></div>
	</div>
{% endblock %}
