{% extends 'base.html.twig' %}
{% block title %}
	Mes recettes
{% endblock %}
{% block body %}
	<div class="container mt-4">
		<h1 class="text-center text-light">Mes recettes</h1>
		<div class="d-flex justify-content-center flex-wrap">
			   	{% if app.user.recipes %}
					{% for recipe in app.user.recipes %}
					
						<div class="card border-primary mb-3 me-3" style="width: 20rem;">
					<div class="card-header">Recette numéro
						{{ recipe.id }}</div>
					<div class="card-body">
						<h4 class="card-title">
							<a href="{{ path('recipe.show', {id: recipe.id}) }}">{{ recipe.name }}</a>
						</h4>
						<div class="recipe__image card-image">
							<img style="max-width: 350px;" src="{{ vich_uploader_asset(recipe, 'imageFile') }}">
						</div>
						<p class="card-text">{{ recipe.description|slice(0, 100) ~ '...'  }}</p>
					</div>
				</div>
				{% endfor %}
				{% endif %}
			
			
		</div>
	</div>
{% endblock %}