{% extends 'base.html.twig' %}

{% block title %}
	La liste de recettes
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Mes recettes</h1>
		<a href="{{ path('recipe.new') }}" class="btn btn-info">Créer une recette</a>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Numéro</th>
					<th scope="col text-uppercase">Nom</th>
					<th scope="col">Régime</th> 
					<th scope="col">Voir</th>
					<th scope="col">Edition</th>
					<th scope="col">Suppression</th>
				</tr>
			</thead>
			<tbody>
				{% for recipe in recipes %}
					<tr class="table-primary">
						<th scope="row">{{ recipe.id }}</th>
						<td class="text-capitalize">{{ recipe.name }}</td>
						<td>
							{% for diet in recipe.diets %}
								{{ diet.name }}
							{% endfor %}
						</td> 
						<td>
							<a href="{{ path('recipe.show', {id: recipe.id}) }}" class="btn btn-info">Voir</a>
						</td>
						<td>
							<a href="{{ path('recipe.edit', {id: recipe.id}) }}" class="btn btn-danger">Modifier</a>
						</td>
						<td>
							<a href="{{ path('recipe.delete', {id: recipe.id}) }}" class="btn btn-warning">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
		{% endblock %}
