{% extends 'base.html.twig' %}

{% block title %} Page d'Accueil {% endblock %}

{% block body %}

<div class="container mt-4 text-center">
<h1 class="mt-4 text-darl">Pade d'administrateur</h1>
 <ul class="mt-4 w-50">
                <div class="d-grid gap-2">
                <button class="btn btn-lg btn-primary mt-5 fs-3" type="button"><a class="nav-link" href="{{ path('ingredient.index') }}">Ingredients</a></button>
                 <button class="btn btn-lg btn-primary mt-5 fs-3" type="button"><a class="nav-link" href="{{ path('allergen.index') }}">Allergènes</a></button>
                <button class="btn btn-lg btn-primary mt-5 fs-3" type="button"><a class="nav-link" href="{{ path('recipe.index') }}">Recettes</a></button>
                <button class="btn btn-lg btn-primary mt-5 fs-3" type="button"><a class="nav-link" href="{{ path('diet.index') }}">Régimes</a></button>
                <button class="btn btn-lg btn-primary mt-5 fs-3" type="button"><a class="nav-link" href="{{ path('user.userList') }}">Patients</a></button>
                <button class="btn btn-lg btn-primary mt-5 fs-3" type="button"><a class="nav-link" href="{{ path('user.new') }}">Enregistrer le patient</a></button>
                </div>
              

            
</div>
{% endblock %}
